* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contenido_container1 {
    background-image: url('../imagenes/home1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.contenido_container2 {
    background-image: url('../imagenes/home2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido_container3 {
    background-image: url('../imagenes/home3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;   
}

.menu {
    display: none;
}

.footer {
    display: none;
}

.button1, .access {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 30%;
    right: 12%; 
}

.button-register,
.button-access {
    width: 50vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    font-size: 20px; 
    margin-top:  0.5rem;
}

.button-google {
    width: 70vw;
    height: 6vh;
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    font-size: 20px;
}

#imgGoogle {
    width: 8vw;
    height: 3vh;
    padding-right: 2%;
}

.form-input {
    width: 70vw;
    height: 6vh;
    display: flex;
    padding: 1.5rem;
    margin: 0.5rem;
    justify-content: center;
    border-radius: 1rem;
    background-color: white;
    font-size: 15px;
}

#message-error {
    color: red;
    font-size: 17px;
}

.input-box{
    position: relative;
    display: flex;
    align-items: center;
    color: black; 
}

.post-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.post-write{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.post-write-title{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5%;
}
.book-description{
    padding-bottom: 20%;
}
.post-write-button{
    border-radius: 0px 0px 10px 10px;
}
.post-list{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
} 
.post{
    background-color: white; 
    margin: 2.5% 5% 2.5% 5%;
    border-style:solid;
    border-width:thin;
    border-radius: 10px;
    padding: 5%;
    word-break:break-word;
} 

/*Responsive for desktop*/

@media screen and (min-width:768px) {

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: rgb(177, 169, 178); 
    }

    .contenido_container1, .contenido_container2, .contenido_container3{
        position: relative;
        width: 70vw;
        height: 80vh;
        background: #fff;
        border-radius: 25px;
    }

    .home-page, .register-page, .access-page, .post-page{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
    }

   .img-izquierda{
        background-image:url('../imagenes/home1.png'); 
        background-repeat: no-repeat;
        background-size:100% 100%;
        width: 100%;
        height: 100%;
        border-radius: 25px 0px 0px 25px;   
   }
   .img-derecha{
        background-image:url('../imagenes/home2.png'); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        border-radius: 0px 25px 25px 0px;   
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .post-perfil{
        background-image:url('../imagenes/home3.png'); 
        background-repeat: no-repeat;
        background-size:100% 100%; 
        width: 100%;
        height: 80vh;
        border-radius: 25px 0px 0px 25px;  
   }
    .img-derecha-post{
        background-image:url('../imagenes/home3.png'); 
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        border-radius: 0px 25px 25px 0px; 
        display: flex; 
        align-items: center;
        justify-content: center;
    }

    .button1, .access{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        min-width: 238px;
        padding: 0 10px;
    }

    .post-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        min-width: 238px;
        padding: 0 10px; 
        height: 100%;
    }

    .button-register,
    .button-access {
        width: 15vw;
        height: 6vh;
        display: flex;
        padding: 0.5rem;
        margin: 0.5rem;
        justify-content: center;
        border-radius: 1rem;
        background-color: black;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .button-google {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25vw;
        min-width: 238px;
        padding: 0 10px;
        margin-top: 20px;
        background: white;
        border: 2px solid;
        cursor: pointer;
    }

    #imgGoogle{
        width: 3.5vw;
        height: 4vh; 
    }
    .form-input {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 25vw;
        min-width: 238px;
        padding: 0 45px;
        border: 2px solid;
    }

    #message-error {
        color: red;
        width: 25vw;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .input-box{
        position: relative;
        display: flex;
        align-items: center;
        color: black
    }

   
   
   
}